.App {
  height: 100vh;
  font-size: 2em;
  display: flex;
  flex-direction: column;
}

.main-nav {
  padding: 15px;
  background: #61dafb;
  font-size: 0.7em;
}

.sticky {
  top: 0;
  position: fixed;
  width: 100%;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
  display: flex;
}

li {
  padding: 10px;
}

li > a {
  text-decoration: none;
  color: #f5f5f6;
}

footer {
  text-align: center;
  font-size: 0.5em;
  background: yellow;
}

.push {
  margin-left: auto;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 600px) {
  .main-nav {
    font-size: 0.5em;
  }
}