.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);
}

table {
	max-width: 50%;
}

tbody {
	background: white;
}

td {
	width: 3vh;
	height: 3vh;
}

@media only screen and (max-height: 500px) {
	td {
		width: 2vh;
		height: 2vh;
	}
}

@media only screen and (max-height: 280px) {
	td {
		width: 1vh;
		height: 1vh;
	}
}

.filled {
	background: black;
}