.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);
}

table {
	max-width: 50%;
}

tbody {
	font-size: 3.5vh;
	background: white;
}

@media only screen and (max-height: 650px) {
	tbody {
		font-size: 2.5vh;
	}
}